<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>

    <style>
        .saudar {
            font-size: 13px;
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>

    <!--Saudação-->
    <script>
        const saudar = "Bem-vindos ao meu site!"
        console.log(saudar)
    </script>

    <!--Imagem-->
    <script>

    </script>
    
</body>
</html>